<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Id Producto</th>
            <th>Nombre Producto</th>
            <th>Cantidad</th>
            <th>Fecha Ingreso</th>
            <th>Usuario</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        <tr *ngFor="let productos of productos">
            <td>{{ productos.id_producto }}</td>
            <td>{{ productos.nombre }}</td>
            <td>{{ productos.cantidad }}</td>
            <td>{{ productos.fecha_ingreso }}</td>
            <td>{{ productos.usuarioregistro.nombre_usuario }}</td>
            <td>
                <button class="btn btn-primary" (click)="llenarForm(productos)">
          <i class="fa fa-edit"></i>
        </button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteProducto(productos.id_producto)">
          <i class="fa fa-trash-o"></i>
        </button>
            </td>
        </tr>
    </tbody>
</table>