<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Nombre Usuario</th>
            <th>Edad</th>
            <th>Cedula</th>
            <th>Fecha Ingreso</th>
            <th>Cargo</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.nombre_usuario }}</td>
            <td>{{ usuario.edad}}</td>
            <td>{{ usuario.cedula}}</td>
            <td>{{ usuario.fecha_ingreso}}</td>
            <td>{{ usuario.cargo.nombre_cargo}}</td>
        </tr>
    </tbody>
</table>